<div class="container-fluid" style="background: linear-gradient(to right, #141E30, #243B55); height: 75px;">
    <div class="row" id="nav_bar" style="padding-top: 10px;">
      <div class="col-md-3">
        <div class="row pb-3" >
          <div class="col-md-12">
            <a class="text-info" href="" id="logo"><img src="../assets/images/logo.png" alt="" style="height: 60px; width: 60px;"></a> 
          </div>
        </div>
      </div>
  
      <div class="col-md-5" style=" padding-top: 10px;">
        <nav class="nav">
          <a class="nav-link text-light active" aria-current="page" href="home">Home</a>
          <a class="nav-link text-light" routerLink="/classroom">Classroom</a>
          <a class="nav-link text-light" routerLink="/course">Course</a>
          <a class="nav-link text-light" routerLink="/blog">Blog</a>
          <a class="nav-link text-light" routerLink="/aboutus">About Us</a>
      </nav>
      </div>
  
      <div class="col-md-4">
        <nav class="nav d-flex flex-row-reverse" *ngIf="!isLoggedIn">
          <a class="nav-link text-light" routerLink="/cart"><img style="height: 30px; width: 30px; border-radius: 50%; margin-top: 5px;" src="../../assets/images/icons8-cart-100.png" alt=""><!--<span class="badge" style="font-size: 10px;" *ngIf="cartQuantity">{{cartQuantity}}</span>--></a>
          <a class="nav-link text-light" routerLink="/login" style="padding-top: 14px;">Sign in</a>
          <!-- <button class="text-light" id="myBtn" routerLink="/search" style="background: transparent; border: none; font-size: 18px; font-weight: 600;"><i class="fas fa-search"></i></button> -->
        </nav>

        <nav class="nav d-flex flex-row-reverse" *ngIf="isLoggedIn">
          <button class="nav-link text-danger" style="padding-top: 14px; background: transparent; border: none;" (click)="logout()"><i class="fa-solid fa-power-off"></i> Logout</button>
          <a class="nav-link text-light" routerLink="/cart"><img style="height: 30px; width: 30px; border-radius: 50%; margin-top: 5px;" src="../../assets/images/icons8-cart-100.png" alt=""><!--<span class="badge" style="font-size: 10px;" *ngIf="cartQuantity">{{cartQuantity}}</span>--></a>
          <a class="nav-link text-light" style="padding-top: 14px;" routerLink="/profile">{{username}}</a>
          <!-- <button class="text-light" id="myBtn" routerLink="/search" style="background: transparent; border: none; font-size: 18px; font-weight: 600;"><i class="fas fa-search"></i></button> -->
        </nav>
      </div>
    </div>
  </div>
  
  <!-- <<<<< search >>>>> -->
  <div class="container-fluid" id="src">
      <form action="https://www.google.com/search" method="get" class="search-bar">
        <input type="text" placeholder="Google Search" name="q">
        <button type="submit"><img src="../../assets/images/search.png" alt=""></button>
      </form>
  </div>
  <!-- [routerLink]="['/profile/', username]" -->