<!-- <<<<footer>>> -->
    <div class="cpy">
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                  <div>
                    <ul class="social_icon" style="display: flex; justify-content: center;">
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                    </ul>
                  </div>
                  <div class="text-center">
                    <p>© 2022 All Rights Reserved. Produced by Md. Mohaiminul JEE/51</p>
                  </div>
              </div>
            </div>
        </div>
      </div>
