<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="sidebar">
            <nav class="nav">
                <h3 class="text-secondary" style="font-weight: 500; margin-left: 100px; margin-top: 20px;"><i class="fa-solid fa-bars"></i> Categories</h3>
                <button class="nav-link btn btn-light" style="font-weight: 500; margin-left: 80px; padding: 20px; border: 1px solid #4169E1;" (click)="click1()">Graphics Design</button>
                <button class="nav-link btn btn-light" style="font-weight: 500; margin-left: 80px; padding: 20px; border: 1px solid #4169E1;" (click)="click2()">Web Development</button>
                <button class="nav-link btn btn-light" style="font-weight: 500; margin-left: 80px; padding: 20px; border: 1px solid #4169E1;" (click)="click3()">Web Design</button>
                <button class="nav-link btn btn-light" style="font-weight: 500; margin-left: 80px; padding: 20px; border: 1px solid #4169E1;" (click)="click4()">Office Application</button>
            </nav>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-10">
            <div class="row mt-5 mb-3" style="background: aliceblue; padding-top: 10px; padding-bottom: 10px;"  *ngFor="let course of courses">
                <div class="col-md-2">
                    <img src="../../assets/images/{{course.coursePic}}" alt="" style="height: 120px; width: 90%; border-radius: 10px;">
                </div>
                <div class="col-md-5">
                    <h5><a href="" style="text-decoration: none; color: black;">{{course.courseName}}</a></h5>
                    <p class="d-inline text-light" style="background: Tomato; padding:0 5px 0 5px; border-radius: 15px; font-size: 13px; font-weight: 600;">{{course.coursePrice}}</p>
                </div>
                <div class="col-md-1">
                    <img src="../../assets/images/icons8-teacher-100.png" alt="" class="rounded-circle" style="width: 50px; height: 50px; float: right;">
                </div>
                <div class="col-md-2" style="line-height: .5rem;">
                    <h6>{{course.instructorName2}}</h6>
                    <p>{{course.courseUploadDate}}</p>
                    <p><span style="color:Orange; font-size: 15px; font-weight: 500;">4.5 </span><span><img src="../../assets/images/icons8-star-filled-15.png" alt=""></span><span><img src="../../assets/images/icons8-star-filled-15.png" alt=""></span><span><img src="../../assets/images/icons8-star-filled-15.png" alt=""></span><span><img src="../../assets/images/icons8-star-filled-15.png" alt=""></span><span><img src="../../assets/images/icons8-star-half-empty-15.png" alt=""></span></p>
                </div>
                <div class="col-md-2" style="display: flex; align-items: center;">
                    <a class="btn btn-sm btn-outline-primary" [routerLink]="['/coursedetails/', course.course_id]">View Summary</a>
                    <!-- <a href="#" class="btn btn-sm btn-warning" style="margin-left: 20px; padding-top: 0px; padding: 5px; font-size: 15px;" (click)="submit()" [routerLink]="['/cart/', course.course_id]"><i class="fa-solid fa-cart-plus"></i> Add to cart</a> -->
                </div>
            </div>
        </div> 

        <div class="col-md-1"></div>
    </div>
</div> 
<app-footer></app-footer>