<div class="" style="margin-top: 100px; margin-left: 20px; width: 90%; background: white; padding: 20px;">
    <div>
        <div class="container" style="margin-top: 100px;">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <form [formGroup]="form" (ngSubmit)="catUpdate()">
                        <div style=" border: none; border-radius: 5px; height: 40px; outline: none; font-size: 18px;" align="center"><label style="color: #33ccc5; font-weight: 600;"><i class="fa-solid fa-circle-plus"></i> Course Category</label></div>
                        <br>
                        <div class="form-group"><input type="text" class="form-control" formControlName="courseCatName" [(ngModel)]="courseCategory.courseCatName"></div>
                        <br>
                        <div class="form-group"><button type="submit" class="btn btn-success form-control">Update</button></div>
                    </form>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</div>
