<div class="" style="margin-top: 100px; margin-left: 20px; width: 90%; background: white; padding: 20px;">
    <h3 class="text-center" style="color: #191970;">Course Category Data</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <td>{{category.courseCatName}}</td>
                <td>
                    <a href="#" style="color: SlateBlue; text-decoration: none;" [routerLink]="['/adashboard/', 'acourseedit', category.course_cat_id]"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                    <a  style="margin-left: 40px; color: Tomato; text-decoration: none;" (click)="delete(category.course_cat_id)" href="adashboard/acourseview"><i class="fa-solid fa-trash"></i> Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="" style="margin-top: 100px; margin-left: 20px; width: 100%; background: white; padding: 20px;">
    <h3 class="text-center" style="color: #191970;">Course Data</h3>
    <br>
    <table class="table table-striped" id="tab">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Date</th>
                <th>Duration</th>
                <th>Article</th>
                <th>Resource</th>
                <th>Access</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Photo</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td>{{course.courseName}}</td>
                <td>{{course.courseUploadDate}}</td>
                <td>{{course.courseDuration}}</td>
                <td>{{course.courseArticle}}</td>
                <td>{{course.courseResource}}</td>
                <td>{{course.courseAccess}}</td>
                <td>{{course.coursePrice}}</td>
                <td>{{course.courseDiscount}}</td>
                <td>{{course.coursePic}}</td>
                <td>
                    <a href="#" style="color: SlateBlue; text-decoration: none;" [routerLink]="['/adashboard/', 'acourses', course.course_id]"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="adashboard/acourseview" style="margin-left: 40px; color: Tomato; text-decoration: none;" (click)="delete2(course.course_id)"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>