

    <h3 class="i-name">
        Dashboard
    </h3>

    <div class="values">
        <div class="val-box">
            <i class="fa-solid fa-users"></i>
            <div>
                <h3>8,267</h3>
                <span>New Users</span>
            </div>
        </div>
        <div class="val-box">
            <i class="fa-solid fa-users"></i>
            <div>
                <h3>8,267</h3>
                <span>New Users</span>
            </div>
        </div>
        <div class="val-box">
            <i class="fa-solid fa-users"></i>
            <div>
                <h3>8,267</h3>
                <span>New Users</span>
            </div>
        </div>
        <div class="val-box">
            <i class="fa-solid fa-users"></i>
            <div>
                <h3>4,50,000.00</h3>
                <span>Gross Sale</span>
            </div>
        </div>
    </div>

    <div class="board">
        <table width="100%">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Title</td>
                    <td>Status</td>
                    <td>Role</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="people">
                        <img src="../../assets/images/author-01.jpg" alt="">
                        <div class="people-de">
                            <h5>John</h5>
                            <p>john@example.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web Devoploper</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit">
                        <a href="#" style="color: SlateBlue;"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="#" style="margin-left: 15px; color: Tomato;"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>

                <tr>
                    <td class="people">
                        <img src="../../assets/images/author-02.jpg" alt="">
                        <div class="people-de">
                            <h5>John</h5>
                            <p>john@example.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web Devoploper</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit">
                        <a href="#" style="color: SlateBlue;"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="#" style="margin-left: 15px; color: Tomato;"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>

                <tr>
                    <td class="people">
                        <img src="../../assets/images/author-03.jpg" alt="">
                        <div class="people-de">
                            <h5>John</h5>
                            <p>john@example.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web Devoploper</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit">
                        <a href="#" style="color: SlateBlue;"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="#" style="margin-left: 15px; color: Tomato;"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>

                <tr>
                    <td class="people">
                        <img src="../../assets/images/author-04.jpg" alt="">
                        <div class="people-de">
                            <h5>John</h5>
                            <p>john@example.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web Devoploper</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit">
                        <a href="#" style="color: SlateBlue;"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="#" style="margin-left: 15px; color: Tomato;"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>

                <tr>
                    <td class="people">
                        <img src="../../assets/images/author-05.jpg" alt="">
                        <div class="people-de">
                            <h5>John</h5>
                            <p>john@example.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web Devoploper</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit">
                        <a href="#" style="color: SlateBlue;"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="#" style="margin-left: 15px; color: Tomato;"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>

                <tr>
                    <td class="people">
                        <img src="../../assets/images/author-06.jpg" alt="">
                        <div class="people-de">
                            <h5>John</h5>
                            <p>john@example.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web Devoploper</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit">
                        <a href="#" style="color: SlateBlue;"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="#" style="margin-left: 15px; color: Tomato;"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>

                <tr>
                    <td class="people">
                        <img src="../../assets/images/author-07.jpg" alt="">
                        <div class="people-de">
                            <h5>John</h5>
                            <p>john@example.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web Devoploper</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit">
                        <a href="#" style="color: SlateBlue;"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="#" style="margin-left: 15px; color: Tomato;"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>

                <tr>
                    <td class="people">
                        <img src="../../assets/images/author-01.jpg" alt="">
                        <div class="people-de">
                            <h5>John</h5>
                            <p>john@example.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web Devoploper</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit">
                        <a href="#" style="color: SlateBlue;"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="#" style="margin-left: 15px; color: Tomato;"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>


