#src1{
    width: 100%;
    min-height: 90vh;
    /* padding: 2%; */
    background-image:linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)),  url(../../assets/images/background.jpg);
    background-position: center;
    background-size: cover;
    /* display: flex; */
    justify-content: center;
  }