<app-header></app-header>
<!-- <<<<<< Welcome Content >>>> -->
<div class="container-fluid" style="background-image: url(../../assets/images/621d1ff192a9c100016532b4.jpg); background-position: center; background-size: cover; min-height: 90vh; width:100%;">
  <div class="row">
    <div class="col-md-6"></div>

    <div class="col-md-5 text-white" style="padding-left: 100px; padding-top: 200px;">
      <h1  style=" font-weight: 700; color: #87CEEB;">Keep learning in the moments that matter</h1>
      <h5 style="color: #F0FFFF">
        Empower yourself with world-class courses from educators and institutions in a practical and social learning environment
      </h5>
      <a class="btn btn-light btn-lg m-2" href="#contact">Contact Us</a>
      <a class="btn btn-outline-light btn-lg m-2" href="/login">Join for free</a>
    </div>

    <div class="col-md-1"></div>
  </div>
</div>

<!-- <<<<< jumbotron >>>>> -->
<!-- <div class="container-fluid" id="jumb">
    <div class="row">
      <div class="col-md-5 text-white" style="padding-left: 100px; padding-top: 200px;">
        <h3>Keep learning in the moments that matter</h3>
        <h5 style="color: #ADD8E6;">
          Empower yourself with world-class courses from educators and institutions in a practical and social learning environment
        </h5>
        <a class="btn btn-light btn-lg m-2" href="#"
          role="button" rel="nofollow" target="_blank">Contact Us</a>
        <a class="btn btn-outline-light btn-lg m-2" href="#"
          target="_blank" role="button">Join for free</a>
      </div>
      
      <div class="col-md-1"></div>

      <div class="col-md-6" style="padding-top: 50px; padding-right: 0px;">
        <div class="d-flex justify-content-center align-items-center">
          <img src="../../assets/images/activity-management.png" alt=""  style="width: 500px; height: 500px;">
        </div>
      </div>
    </div>
  </div> -->
  
  <!-- <div class="container" style="font-size: 12px;">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="../../assets/images/Python-Tutorial1.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Card title</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary" style="font-size: 12px;">Go somewhere</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-3 d-flex justify-content-center">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="../../assets/images/javascript-hero-1652702096795.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Card title</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary" style="font-size: 12px;">Go somewhere</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-3 d-flex justify-content-center">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="../../assets/images/React Cover.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Card title</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary" style="font-size: 12px;">Go somewhere</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-3 d-flex justify-content-center">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="../../assets/images/maxresdefault.jpg" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">Card title</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary" style="font-size: 12px;">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<!-- card heading -->
<div class="container pt-5">
  <div class="col-md-2"></div>
  <div class="col-md-8 mt-3">
    <h2 class="text-secondary"><strong>Exciting crash programs</strong></h2>
  </div>
  <div class="col-md-2"></div>
</div>
<br>
<!--Card-->
<div class="container p-5 mt-1 border border-1" style="border-radius: 15px; background-color: aliceblue;">
  <div class="row">
    <div class="col-md-3">
      <div class="card hvr-grow" style="border-radius:10px; width: 250px; height: 350px;">
        <a href=""><img class="card-img-top" src="../../assets/images/Python-Tutorial1.png" alt="Card image cap" style="height: 150px; border-radius:5px;"></a>
        <div class="card-body" style="line-height: 0px;">
          <p class="d-inline text-light" style="background: #00CED1; padding:0 5px 0 5px; border-radius: 15px; font-size: 11px; font-weight: 600;">$150.00</p>
          <h5 class="card-title" style="font-size: 11px; font-weight: 600; margin-top: 10px;"><a>Python for Beginners - Learn Programming from scratch</a></h5>
          <table class="table" style="font-size: 11px;">
              <tr>
                <td><i class="fa-regular fa-user"></i> Instructor</td>
                <td>ABC</td>
              </tr>
              <tr>
                <td><i class="fa-regular fa-clock"></i> Duration</td>
                <td>20 Hours</td>
              </tr>
              <tr>
                <td><i class="fa-regular fa-file"></i> Lecture</td>
                <td>32</td>
              </tr>
            </table>
          <a href="#" class="btn btn-primary" style="padding-top: 0px; padding-bottom: 0px; font-size: 11px;">Buy now</a>
          <a href="#" class="btn btn-outline-warning" style="margin-left: 20px; padding-top: 0px; padding-bottom: 0px; font-size: 11px;"><i class="fa-solid fa-cart-plus"></i> Add to cart</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card hvr-grow" style="border-radius:10px; width: 250px; height: 350px;">
        <a href=""><img class="card-img-top" src="../../assets/images/javascript-hero-1652702096795.png" alt="Card image cap" style="height: 150px; border-radius:5px;"></a>
        <div class="card-body" style="line-height: 0px;">
          <p class="d-inline text-light" style="background: Violet; padding:0 5px 0 5px; border-radius: 15px; font-size: 11px; font-weight: 600;">$150.00</p>
          <h5 class="card-title" style="font-size: 11px; font-weight: 600; margin-top: 10px;"><a>The Complete JavaScript Course 2023: From Zero to Expert!</a></h5>
          <table class="table" style="font-size: 11px;">
              <tr>
                <td><i class="fa-regular fa-user"></i> Instructor</td>
                <td>ABC</td>
              </tr>
              <tr>
                <td><i class="fa-regular fa-clock"></i> Duration</td>
                <td>20 Hours</td>
              </tr>
              <tr>
                <td><i class="fa-regular fa-file"></i> Lecture</td>
                <td>32</td>
              </tr>
            </table>
          <a href="#" class="btn btn-primary" style="padding-top: 0px; padding-bottom: 0px; font-size: 11px;">Buy now</a>
          <a href="#" class="btn btn-outline-warning" style="margin-left: 20px; padding-top: 0px; padding-bottom: 0px; font-size: 11px;"><i class="fa-solid fa-cart-plus"></i> Add to cart</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card hvr-grow" style="border-radius:10px; width: 250px; height: 350px;">
        <a href=""><img class="card-img-top" src="../../assets/images/React Cover.jpg" alt="Card image cap" style="height: 150px; border-radius:5px;"></a>
        <div class="card-body" style="line-height: 0px;">
          <p class="d-inline text-light" style="background: Tomato; padding:0 5px 0 5px; border-radius: 15px; font-size: 11px; font-weight: 600;">$150.00</p>
          <h5 class="card-title" style="font-size: 11px; font-weight: 600; margin-top: 10px;"><a>React - The Complete Guide (incl Hooks, React Router)</a></h5>
          <table class="table" style="font-size: 11px;">
              <tr>
                <td><i class="fa-regular fa-user"></i> Instructor</td>
                <td>ABC</td>
              </tr>
              <tr>
                <td><i class="fa-regular fa-clock"></i> Duration</td>
                <td>20 Hours</td>
              </tr>
              <tr>
                <td><i class="fa-regular fa-file"></i> Lecture</td>
                <td>32</td>
              </tr>
            </table>
          <a href="#" class="btn btn-primary" style="padding-top: 0px; padding-bottom: 0px; font-size: 11px;">Buy now</a>
          <a href="#" class="btn btn-outline-warning" style="margin-left: 20px; padding-top: 0px; padding-bottom: 0px; font-size: 11px;"><i class="fa-solid fa-cart-plus"></i> Add to cart</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card hvr-grow" style="border-radius:10px; width: 250px; height: 350px;">
        <a href=""><img class="card-img-top" src="../../assets/images/maxresdefault.jpg" alt="Card image cap" style="height: 150px; border-radius:5px;"></a>
        <div class="card-body" style="line-height: 0px;">
          <p class="d-inline text-light" style="background: MediumSeaGreen; padding:0 5px 0 5px; border-radius: 15px; font-size: 11px; font-weight: 600;">$150.00</p>
          <h5 class="card-title" style="font-size: 11px; font-weight: 600; margin-top: 10px;"><a>Photoshop Master Course: From Beginner to Photoshop Pro</a></h5>
          <table class="table" style="font-size: 11px;">
              <tr>
                <td><i class="fa-regular fa-user"></i> Instructor</td>
                <td>ABC</td>
              </tr>
              <tr>
                <td><i class="fa-regular fa-clock"></i> Duration</td>
                <td>20 Hours</td>
              </tr>
              <tr>
                <td><i class="fa-regular fa-file"></i> Lecture</td>
                <td>32</td>
              </tr>
            </table>
          <a href="#" class="btn btn-primary" style="padding-top: 0px; padding-bottom: 0px; font-size: 11px;">Buy now</a>
          <a href="#" class="btn btn-outline-warning" style="margin-left: 20px; padding-top: 0px; padding-bottom: 0px; font-size: 11px;"><i class="fa-solid fa-cart-plus"></i> Add to cart</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="col-12 text-center">
    <a href="/course" class="btn blg hvr-icon-forward">
      See more
      <i class="fa fa-chevron-circle-right hvr-icon"></i>
    </a>
  </div>
</div>

<!-- <<<< assign instructor >>>> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" align="center">
      <img src="../../assets/images/cap2.png" alt="" style="width: 100%; height: 200px;">
      <h2>Become an instructor</h2>
      <p>Instructors from around the world teach millions of students on " ". We provide the tools and skills to teach what you love.</p>
      <a href="/instructorform" class="btn text-light" style="background: rgba(0,8,51,0.9); padding: 5px;">Start teaching today</a>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<br>

<!-- <<<<< blog header >>>>>> -->
<div class="container pt-5">
<div class="col-md-2"></div>
<div class="col-md-8  mt-3">
    <h2 class="text-secondary"><strong>Our Blog</strong></h2>
</div>
<div class="col-md-2"></div>
</div>
<br>
<!-- <<<<<< blog >>>>>> -->
<div class="container p-5 mt-1 border border-1" style="border-radius: 15px; background-color: aliceblue;">
    <div class="row">
        <div class="col-md-3">
          <div>
            <img src="../../assets/images/3d-casual-life-young-woman-explaining-lesson-material.png" alt="">
          </div>
        </div>

        <div class="col-md-9">
            <div class="row">
            <div class=" col-md-4 card hvr-border-fade p-1" style="width: 30%; border-radius: 15px;">
                <a href=""><img class="card-img-top" src="../../assets/images/blog-07.jpg" alt="Card image cap" style="height: 200px; border-radius: 10px;"></a>
                <div class="card-body">
                  <h6 class="card-title"><a>Card title</a></h6>
                  <p><i class="fa-solid fa-calendar-days"></i> 24 December, 2022</p>
                  <a href="#" class="btn btn-sm btn-outline-info">Read More</a>
                </div>
            </div>
            <div class=" col-md-4 card hvr-border-fade p-1" style="width: 30%; border-radius: 15px; margin-left: 3%;">
                <a  href=""><img class="card-img-top" src="../../assets/images/blog-02.jpg" alt="Card image cap" style="height: 200px; border-radius: 10px;"></a>
                <div class="card-body">
                  <h6 class="card-title"><a>Card title</a></h6>
                  <p><i class="fa-solid fa-calendar-days"></i> 24 December, 2022</p>
                  <a href="#" class="btn btn-sm btn-outline-info">Read More</a>
                </div>
            </div>
                <div class=" col-md-4 card hvr-border-fade p-1" style="width: 30%; border-radius: 15px; margin-left: 3%;">
                  <a  href=""><img class="card-img-top" src="../../assets/images/blog-08.jpg" alt="Card image cap" style="height: 200px; border-radius: 10px;"></a>
                  <div class="card-body">
                      <h6 class="card-title"><a>Card title</a></h6>
                      <p><i class="fa-solid fa-calendar-days"></i> 24 December, 2022</p>
                      <a href="#" class="btn btn-sm btn-outline-info">Read More</a>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3" style="height: auto;">
            <h3 class="text-info"><i class="fa-solid fa-rectangle-list"></i> Blog Category</h3>
            <div class="border" style="border-radius: 10px; background-color: white; padding: 15px;">
                <button class="btn btn-block blg m-2" style="text-align: start; border-radius: 15px; border-color: #54B4D3; width: 75%; margin-left: auto; margin-right: auto;"><strong>Education</strong></button>
                <button class="btn btn-block blg m-2" style="text-align: start; border-radius: 15px; border-color: #54B4D3; width: 75%; margin-left: auto; margin-right: auto;"><strong>Information & Technology</strong></button>
                <button class="btn btn-block blg m-2" style="text-align: start; border-radius: 15px; border-color: #54B4D3; width: 75%; margin-left: auto; margin-right: auto;"><strong>International</strong></button>
                <button class="btn btn-block blg m-2" style="text-align: start; border-radius: 15px; border-color: #54B4D3; width: 75%; margin-left: auto; margin-right: auto;"><strong>Sports</strong></button>
            </div>
          </div>

          <div class="col-md-9">
            <div class="row">
              <div class=" col-md-4 card hvr-border-fade p-1" style="width: 30%; border-radius: 15px;">
                <a href=""><img class="card-img-top" src="../../assets/images/blog-09.jpg" alt="Card image cap" style="height: 200px; border-radius: 10px;"></a>
                <div class="card-body">
                  <h6 class="card-title"><a>Card title</a></h6>
                  <p><i class="fa-solid fa-calendar-days"></i> 24 December, 2022</p>
                  <a href="#" class="btn btn-sm btn-outline-info">Read More</a>
                </div>
              </div>
              <div class=" col-md-4 card hvr-border-fade p-1" style="width: 30%; border-radius: 15px; margin-left: 3%;">
                  <a  href=""><img class="card-img-top" src="../../assets/images/blog-12.jpg" alt="Card image cap" style="height: 200px; border-radius: 10px;"></a>
                  <div class="card-body">
                    <h6 class="card-title"><a>Card title</a></h6>
                    <p><i class="fa-solid fa-calendar-days"></i> 24 December, 2022</p>
                    <a href="#" class="btn btn-sm btn-outline-info">Read More</a>
                  </div>
              </div>
              <div class=" col-md-4 card hvr-border-fade p-1" style="width: 30%; border-radius: 15px; margin-left: 3%;">
                <a  href=""><img class="card-img-top" src="../../assets/images/blog-06.jpg" alt="Card image cap" style="height: 200px; border-radius: 10px;"></a>
                <div class="card-body">
                    <h6 class="card-title"><a>Card title</a></h6>
                    <p><i class="fa-solid fa-calendar-days"></i> 24 December, 2022</p>
                    <a href="#" class="btn btn-sm btn-outline-info">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="col-12 text-center">
          <a href="/blog" class="btn blg hvr-icon-forward">
            See more
            <i class="fa fa-chevron-circle-right hvr-icon"></i>
          </a>
        </div>
  </div>
  
<br> <br>

<!-- <<<<<< Contact us >>>>> -->
  <div class="container-fluid" id="src1">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center" style="padding: 20px 100px 0px 100px;">
        <p class="text-light">Contact Us</p>
        <h3 class="text-light"><span style="color: #33ccc5;" id="contact">Fill</span> Out The Form Below To Get In <span style="color: #33ccc5">Touch</span> With Us</h3>
      </div>
      <div class="col-md-3"></div>
    </div>
    <br>
    <div class="row" style="justify-content: center;">
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <form action="" role="form">
          <div class="row form-group">
            <div class="col-md-6"><input type="text" placeholder="Full Name" class="form-control" style="background: transparent; color: #F0FFFF;"></div>
            <div class="col-md-6"><input type="text" placeholder="Subject" class="form-control" style="background: transparent; color: #F0FFFF;"></div>
          </div>
          <div class="row">
            <div class="col-md-6"><input type="email" placeholder="Email" class="form-control mt-3" style="background: transparent; color: #F0FFFF;"></div>
            <div class="col-md-6"><input type="text" placeholder="Phone" class="form-control mt-3" style="background: transparent; color: #F0FFFF;"></div>
          </div>
          <div class="row">
            <div class="col-md-12"><textarea name="" id="" cols="20" rows="5" placeholder="Message" class="form-control mt-3" style="background: transparent; color: #F0FFFF;"></textarea></div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center"><a href="#" type="submit" class="btn btn-outline-light mt-3">Submit</a></div>
          </div>
        </form>
      </div>

      <div class="col-md-4 text-center" id="addr">
        <img src="../../assets/images/contact-icon-01.png" alt=""> <br>
        <a href="" class="text-light">info@company.com</a>
        <br>
        <br>
        <img src="../../assets/images/contact-icon-02.png" alt=""> <br>
        <a href="" class="text-light">017xxxxxxxx</a>
        <br>
        <br>
        <img src="../../assets/images/contact-icon-03.png" alt=""> <br>
        <a href="" class="text-light">Inner circular road, Paltan, Dhaka</a>
      </div>
    </div>
  </div>
<app-footer></app-footer>
