<app-header></app-header>
<div class="container">
    <h4 class="text-secondary">Categories</h4>
    <br>
    <div class="row" style="background: aliceblue; justify-content: center;">
        <div class="col-md-3" align="center">
            <div style="height: 150px; width: 150px; border-radius: 10px; background: white; padding: 5px; margin-top: 10px;" align="center">
                <a href=""><img src="../../assets/images/icons8-css3-120.png" alt=""></a>
            </div>
            <h5 style="margin-top: 5px;">CSS3</h5>
        </div>
        
        <div class="col-md-3" align="center">
            <div style="height: 150px; width: 150px; border-radius: 10px; background: white; padding: 5px; margin-top: 10px;" align="center">
                <a href=""><img src="../../assets/images/icons8-javascript-logo-120.png" alt=""></a>
            </div>
            <h5 style="margin-top: 5px;">Javascript</h5>
        </div>

        <div class="col-md-3" align="center">
            <div style="height: 150px; width: 150px; border-radius: 10px; background: white; padding: 5px; margin-top: 10px;" align="center">
                <a href=""><img src="../../assets/images/icons8-java-120.png" alt=""></a>
            </div>
            <h5 style="margin-top: 5px;">Java</h5>
        </div>

        <div class="col-md-3" align="center">
            <div style="height: 150px; width: 150px; border-radius: 10px; background: white; padding: 5px; margin-top: 10px;" align="center">
                <a href=""><img src="../../assets/images/icons8-python-120.png" alt=""></a>
            </div>
            <h5 style="margin-top: 5px;">Python</h5>
        </div>
    </div>

    <div class="row" style="background: aliceblue; justify-content: center;">
        <div class="col-md-3" align="center">
            <div style="height: 150px; width: 150px; border-radius: 10px; background: white; padding: 5px; margin-top: 10px;" align="center">
                <a href=""><img src="../../assets/images/icons8-c-sharp-logo-2-120.png" alt=""></a>
            </div>
            <h5 style="margin-top: 5px;">C#</h5>
        </div>
        
        <div class="col-md-3" align="center">
            <div style="height: 150px; width: 150px; border-radius: 10px; background: white; padding: 5px; margin-top: 10px;" align="center">
                <a href=""><img src="../../assets/images/icons8-php-logo-120.png" alt=""></a>
            </div>
            <h5 style="margin-top: 5px;">PHP</h5>
        </div>

        <div class="col-md-3" align="center">
            <div style="height: 150px; width: 150px; border-radius: 10px; background: white; padding: 5px; margin-top: 10px;" align="center">
                <a href=""><img src="../../assets/images/icons8-3d-module-100.png" alt=""></a>
            </div>
            <h5 style="margin-top: 5px;">Graphics 3D</h5>
        </div>

        <div class="col-md-3" align="center">
            <div style="height: 150px; width: 150px; border-radius: 10px; background: white; padding: 5px; margin-top: 10px;" align="center">
                <a href=""><img src="../../assets/images/icons8-office-365-120.png" alt=""></a>
            </div>
            <h5 style="margin-top: 5px;">MS Office</h5>
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <h4 class="text-secondary">Modules</h4>
    <br>
    <div class="row" style="background: aliceblue;">
        <div class="col-md-6" style=" margin-top: 20px;">
            <div class="panel panel-info" style="background: white; padding: 10px; width: 90%;">
                <div class="panel-heading">
                    <h5>CSS3</h5>
                </div>
                <div class="panel-body">
                    <h6>About this course</h6>
                    <p>You’ll find learning CSS essential in styling websites. Web developers use it to build on basic HTML and add personality to plain text pages. This course helps you expand your coding foundation and gives you CSS interactive practice to start adding colors and background images or editing layouts so you can create your very own, unique stylized web pages.</p>
                    <br>
                    <p><i class="fa-solid fa-check"></i> Syntax and selectors</p>
                    <p><i class="fa-solid fa-check"></i> Visual rules</p>
                    <p><i class="fa-solid fa-check"></i> The box model</p>
                    <p><i class="fa-solid fa-check"></i> Display and positioning</p>
                    <p><i class="fa-solid fa-check"></i> Colors</p>
                    <p><i class="fa-solid fa-check"></i> Typography</p>
                </div>
            </div>
        </div>

        <div class="col-md-6" style=" margin-top: 20px;">
            <div class="panel panel-info" style="background: white; padding: 10px; width: 90%; height: 100%;">
                <div class="panel-body">
                    <div class="text-center">
                        <p class="d-inline text-light" style="background: #FF6347; padding:0 5px 0 5px; border-radius: 15px; font-size: 18px; font-weight: 600;">$150.00</p>
                    </div>
                  <table class="table">
                    <tr>
                      <td><i class="fa-solid fa-user-tie"></i> instructor</td>
                      <td>ABC</td>
                    </tr>
                    <tr>
                      <td><i class="fa-solid fa-clock"></i> Duration</td>
                      <td>20 Hours</td>
                    </tr>
                    <tr>
                      <td><i class="fa-solid fa-book"></i> Lecture</td>
                      <td>32</td>
                    </tr>
                    <tr>
                      <td><i class="fa-solid fa-file"></i> Articles</td>
                      <td>10 Articles</td>
                      </tr>
                    <tr>
                      <td><i class="fa-solid fa-download"></i> Resources</td>
                      <td>1 Downloadable</td>
                    </tr>
                    <tr>
                      <td><i class="fa-solid fa-circle-right"></i> Access</td>
                      <td>Lifetime access</td>
                    </tr>
                  </table>
                  <div class="text-center">
                    <a href="/login" class="btn btn-info text-light">Enroll Now</a>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="background: aliceblue;">
        <div class="col-md-6" style=" margin-top: 20px;">
            <div class="panel panel-info" style="background: white; padding: 10px; width: 90%; ">
                <div class="panel-heading">
                    <h5>Java</h5>
                </div>
                <div class="panel-body">
                    <h6>About this course</h6>
                    <p>You’ll find learning CSS essential in styling websites. Web developers use it to build on basic HTML and add personality to plain text pages. This course helps you expand your coding foundation and gives you CSS interactive practice to start adding colors and background images or editing layouts so you can create your very own, unique stylized web pages.</p>
                    <br>
                    <p><i class="fa-solid fa-check"></i> Syntax and selectors</p>
                    <p><i class="fa-solid fa-check"></i> Visual rules</p>
                    <p><i class="fa-solid fa-check"></i> The box model</p>
                    <p><i class="fa-solid fa-check"></i> Display and positioning</p>
                    <p><i class="fa-solid fa-check"></i> Colors</p>
                    <p><i class="fa-solid fa-check"></i> Typography</p>
                </div>
            </div>
        </div>

        <div class="col-md-6" style=" margin-top: 20px;">
            <div class="panel panel-info" style="background: white; padding: 10px; width: 90%; height: 100%;">
                <div class="panel-body">
                    <div class="text-center">
                        <p class="d-inline text-light" style="background: #FF6347; padding:0 5px 0 5px; border-radius: 15px; font-size: 18px; font-weight: 600;">$150.00</p>
                    </div>
                  <table class="table">
                    <tr>
                      <td><i class="fa-solid fa-user-tie"></i> instructor</td>
                      <td>ABC</td>
                    </tr>
                    <tr>
                      <td><i class="fa-solid fa-clock"></i> Duration</td>
                      <td>20 Hours</td>
                    </tr>
                    <tr>
                      <td><i class="fa-solid fa-book"></i> Lecture</td>
                      <td>32</td>
                    </tr>
                    <tr>
                      <td><i class="fa-solid fa-file"></i> Articles</td>
                      <td>10 Articles</td>
                      </tr>
                    <tr>
                      <td><i class="fa-solid fa-download"></i> Resources</td>
                      <td>1 Downloadable</td>
                    </tr>
                    <tr>
                      <td><i class="fa-solid fa-circle-right"></i> Access</td>
                      <td>Lifetime access</td>
                    </tr>
                  </table>
                  <div class="text-center">
                    <a href="/login" class="btn btn-info text-light">Enroll Now</a>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="background: aliceblue;">
        <div class="col-md-6" style=" margin-top: 20px;">
            <div class="panel panel-info" style="background: white; padding: 10px; width: 90%; height: 100%;">
                <div class="panel-heading">
                    <h5>Python</h5>
                </div>
                <div class="panel-body">
                    <h6>About this course</h6>
                    <p>You’ll find learning CSS essential in styling websites. Web developers use it to build on basic HTML and add personality to plain text pages. This course helps you expand your coding foundation and gives you CSS interactive practice to start adding colors and background images or editing layouts so you can create your very own, unique stylized web pages.</p>
                    <br>
                    <p><i class="fa-solid fa-check"></i> Syntax and selectors</p>
                    <p><i class="fa-solid fa-check"></i> Visual rules</p>
                    <p><i class="fa-solid fa-check"></i> The box model</p>
                    <p><i class="fa-solid fa-check"></i> Display and positioning</p>
                    <p><i class="fa-solid fa-check"></i> Colors</p>
                    <p><i class="fa-solid fa-check"></i> Typography</p>
                </div>
            </div>
        </div>

        <div class="col-md-6" style=" margin-top: 20px;">
            <div class="panel panel-info" style="background: white; padding: 10px; width: 90%; height: 100%;">
                <div class="panel-body">
                    <div class="text-center">
                        <p class="d-inline text-light" style="background: #FF6347; padding:0 5px 0 5px; border-radius: 15px; font-size: 18px; font-weight: 600;">$150.00</p>
                    </div>
                  <table class="table">
                    <tr>
                      <td><i class="fa-solid fa-user-tie"></i> instructor</td>
                      <td>ABC</td>
                    </tr>
                    <tr>
                      <td><i class="fa-solid fa-clock"></i> Duration</td>
                      <td>20 Hours</td>
                    </tr>
                    <tr>
                      <td><i class="fa-solid fa-book"></i> Lecture</td>
                      <td>32</td>
                    </tr>
                    <tr>
                      <td><i class="fa-solid fa-file"></i> Articles</td>
                      <td>10 Articles</td>
                      </tr>
                    <tr>
                      <td><i class="fa-solid fa-download"></i> Resources</td>
                      <td>1 Downloadable</td>
                    </tr>
                    <tr>
                      <td><i class="fa-solid fa-circle-right"></i> Access</td>
                      <td>Lifetime access</td>
                    </tr>
                  </table>
                  <div class="text-center">
                    <a href="/login" class="btn btn-info text-light">Enroll Now</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>